
.office {
    background-color: #d83b01;
}

.ggdocs {
    background-color: #4285f4;
}

.ggsheets {
    background-color: #34a853;
}

.ggslides {
    background-color: #fbbc05;
}

.ggdrive {
    background-color: #4285f4;
}

.visualstudiocode {
    background-color: #007acc;
}

.visualstudio {
    background-color: #5c2d91;
}

.visualparadigm {
    background-color: #c63131;
}

.sublimetext {
    background-color: #ff9800;
}

.paintnet {
    background-color: #00a3cc;
}

.photoshop {
    background-color: #330cfa;
}

.illustrator {
    background-color: #ff9a00;
}

.audacity {
    background-color: #007bff;
}

.flstudio {
    background-color: #ff7300;
}

.blender {
    background-color: #f5792a;
}

.mysqlworkbench {
    background-color: #00758f;
}

.lazarus {
    background-color: #f7df1e;
}
