
.python {
    background-color: #3776ab;
}

.qt {
    background-color: #41cd52;
}

.flask {
    background-color: #c3e6e6;
}

.html {
    background-color: #e34c26;
}

.css {
    background-color: #264de4;
}

.javascript {
    background-color: #f7df1e;
}

.typescript {
    background-color: #007acc;
}

.powerpc {
    background-color: #cf4e2e;
}

.cpp {
    background-color: #6295cb;
}

.c {
    background-color: #f34b7d;
}

.csharp {
    background-color: #7e2b93;
}

.java {
    background-color: #e51f24;
}

.arduino {
    background-color: #00979d;
}

.bash {
    background-color: #3c4548;
}

.git {
    background-color: #f05032;
}

.unity {
    background-color: #000000;
}

.mysql {
    background-color: #00758f;
}

.sqlite {
    background-color: #003b57;
}

.freepascal {
    background-color: #afdeff;
}

.php {
    background-color: #777bb4;
}
