
.dolphin {
    background-color: #00a0de;
}

.linux {
    background-color: #0e0e0e;
}

.windows {
    background-color: #0078d7;
}

.mac-os {
    background-color: #000000;
}

.switch {
    background-color: #e60012;
}

.wii {
    background-color: #8b8b8b;
}

.wii-u {
    background-color: #8b8b8b;
}
